{% include 'base.html.twig' %}

{% block title %}Hello CartController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Mon panier</h1>

		Retrouver l'ensemble des produits
		<hr>
		{{dump(cart)}}
        {% if cart | length > 0 %}
		<table class="table table-bordered">
			<thead>
				<tr>
					<th scope="col">Produits</th>
					<th scope="col"></th>
					<th scope="col">Quantité</th>
					<th scope="col">Prix</th>
					<th scope="col">Total</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				{% set total = null %}
				{% for product in cart %}
					<tr>
						<th scope="row">1</th>
						<td>
							<img src="/uploads/{{product.product.illustration}} alt=" {{product.product.name}} "" height="75px">
							<br/></td>
						<td>
							{{product.product.name}}</td>
						<td>
                        <a href="{{ path('decrease' , { 'id' : product.product.id}) }}">
								<img src="{{ asset('/assets/images/minus.png') }}" height="18px"></a>
                                
                            x {{product.quantity}}
                            
                            <a href="{{ path('cart_to_add' , { 'id' : product.product.id}) }}">
								<img src="{{ asset('/assets/images/plus.png') }}" height="18px"></a>
                            </td>
						<td>{{(product.product.price / 100)| number_format(2, ',', '.') }}
							€</td>
						<td>{{((product.product.price * product.quantity) / 100)| number_format(2, ',', '.') }}
							€</td>
						<td>
							
						</td>
						<td>
							
						</td>
						<td>
							<a href="{{ path('delete_to_cart' , { 'id' : product.product.id}) }}"><img src="{{ asset('/assets/images/trash.png') }}" height="18px"></a>
						</td>
					</tr>
					{% set total = total + (product.product.price * product.quantity) %}
				{% endfor %}
			</tbody>
		</table>
		<div class="text-right mb-5">
			<b>Nombre de produit:
				{{cart|length}}</b><br/>
			<b>
				Total :
				{{ (total / 100) | number_format(2, ',', '.') }}
			</b>
			<a href="" class="btn btn-success btn-block">Valider mon panier</a>
		</div>
        {% else %}
            <hr>
            <p><b>votre panier est vide</b></p>
        {% endif %}
	</div>
{% endblock %}
