{% include 'base.html.twig' %}


{% block body %}

<div class="body-connexion">
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				Vous êtes connecté avec le compte 
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Se déconnecter</a>
			</div>
		{% endif %}
		<div class="div-connexion">
			<h1 class="grand-titre"> CONNEXION </h1>
			<label id="titre-email" for="inputEmail">Email</label>
			<input type="email" value="{{ email }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
			<label id="titre-password" for="inputPassword">Mot de passe</label>
			<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

			<input
			type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<button class="btn-orange" type="submit">
				Se connecter
			</button>
		</div>
	</form>

	<p class="text-center">
		Ou souhaitez-vous
		<a href="{{path('register')}}"> <span id="creer-compte"> créer un compte </span></a>?</p>
</div> 

{% endblock %}
