{% include 'base.html.twig' %}

{% block content %}

	<h1 class="grand-titre">
		INSCRIPTION
	</h1>

	<div class="div-inscription">
		{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.email) }}
		{{ form_row(registrationForm.username) }}
		{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
		{{ form_row(registrationForm.agreeTerms) }}
		<button type="submit" class="btn-orange">Register</button>
		{{ form_end(registrationForm) }}
	</div>

{% endblock %}
