{% extends 'base.html.twig' %}
{% block title %}
	{{ product.slug }}
{% endblock %}


{% block content %}
	<link href="/assets/css/product.css" rel="stylesheet">

	<div class="div-presentation-produit">
		<div class="img-produit">
			<img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" heigth="300px" width="300px">
		</div>
		<div class="details-produit">
			<h1>{{product.name}}</h1>
			<p>{{ product.subtitle }}</p>
			<span class=" product-single-price">
				{{ (product.prix / 100)| number_format(2, ',', '.') }}€
			</span>
			<hr>
			<p>
				{{ product.description }}
			</p>
			<a href="{{path('cart_to_add', {'id' : product.id } )}}" class="bouton-add">
				Ajouter au panier
			</a>
		</div>
	</div>
{% endblock %}
{% include 'footer.html.twig' %}
