{% include 'base.html.twig' %}

{% block javascript %}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}
<title>{% block title %}Panier{% endblock %}</title>
{% block content %}
    <h2> Je passe ma commande</h2>
    <p>Choisissez vos préférences avant de passer votre commande</p>
    <div class = "col-md-6">
    <b>Récap de ma commande</b><br>
<table class="table table-bordered">
<tbody>
				{% set total = null %}
				{% for product in cart %}
					<tr>
						<th scope="row">1</th>
						<td>
							<img src="/uploads/{{product.product.illustration}}" alt=" {{product.product.name}} " height="75px">
							<br/></td>
						<td>
							{{product.product.name}}</td>
						<td>{{ ((product.product.prix * product.quantity) / 100)| number_format(2, ',', '.') }}
							€</td>
					</tr>
					{% set total = total + (product.product.prix * product.quantity) %}
				{% endfor %}
			</tbody>
    </table>
    <div class="text-right mb-5">
			<b>Nombre de produit:
				{{cart|length}}</b><br/>
			<b>
				Sous Total :
				{{ (total / 100) | number_format(2, ',', '.') }} €
			</b>
		</div>
       
       <a id="checkout-button" class="btn btn-success btn-block">Payer | {{ (total / 100) | number_format(2, ',', '.') }} €</a>
  {# {{path('')}}" #}
        
{% endblock %}

{% block script %}
    <script type="text/javascript">
    var stripe = Stripe("pk_test_51LPRdnCK4WaiiCIrog5NXSX5TVnkNiqMWQDMDjZYDrPiFLUDKeFc8sBdQtQzfxDKSixoIDjrJpRKMZg9vJvCKiAN00JRSzXR8v");
    var checkoutButton = document.getElementById('checkout-button');

    checkoutButton.addEventListener("click",function(){
        fetch("/commande/create-session" ,{ method: "POST"
    }).then(function ( response){
        return response.json();
    }).then( function (session){
        return stripe.redirectToCheckout({sessionId : session.id });
    }).then(function (result){
        if (result.error){
            alert(result.error.message);
        }
    }).catch(function(error){
        console.log("Error : ", error);
    });
    });
    </script> 
{% endblock %}
{% include 'footer.html.twig' %}
